@import './base.scss';

main.heroes-selection {
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    color: var(--vt-c-white);
    margin-bottom: 0.5em;
  }
}
//random card
.card-container {
  .random-card {
    width: 10% !important;
    border: 2px solid var(--vt-c-white);
    border-radius: 5px; 
    padding: 1em;
    cursor: pointer;
    margin: 1em;
  }
  [data-status="selected"] {
    border: 2px solid lightgreen;
    transform: scale(1.1);
    transition: 0.3s ease;
  }
  [data-status="unselected"] {
    transition: 0.3s ease-out;
  }
}


.btn {
  padding: 1em;
  @include x-padding(2em, 2em);
  border-radius: 5px;
  cursor: pointer;
}

.btn-play {
  background-color: transparent;
  color: lightgreen;
  font-size: 1.5em;
  border: 2px solid lightgreen;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  &:hover {
    color: var(--vt-c-black);
    background-color: lightgreen;
    transition: 0.3s;
  }
}

//playground
.playground {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .user {
    text-align: center;
    color: white;
    margin-bottom: 1em;
  }
}

.go-btn {
  border-radius: 50%;
  background-color: lightgreen;
  border-color: transparent;
  width: 70px;
  height: min-content;
  padding: 1.5em;
  cursor: pointer;
  transition: 0.3s;
  @include y-margin(auto, auto);
  &:hover {
    transform: scale(1.5);
    transition: 0.3s;
  }
}

footer.card-selection {
  padding: 3em;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  color: black;
  cursor: pointer;
  @include x-margin(5px, 5px);
  position: relative;
  img {
    object-fit: cover;
    width: 200px;
    height: 280px;
    z-index: 1 !important;
  }
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 1));
    z-index: 999 !important;
  }
  h4 {
    position: absolute;
    z-index: 999;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}

